<!DOCTYPE html>
<head>
<title>Todo App</title>
<link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
    <div class="nav" style="background-color: black;">
        <ul>
    <li style="font-size:xx-large;padding-left: 0.2cm;padding-right:0.2cm;margin-top:0.2cm; margin-left:0.2cm;box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2), 6px 6px 20px 20px rgba(0, 0, 0, 0.19);align-self: center;"><a href="/Home">To-do List</a></li>
    
  </ul>
    </div>
<div class="todo-container">
<h2>To-Do List</h2>
<div class="todo">

    <form action="/task" method="POST" class="todo-header">
        <label style="font-size: larger; font-family: 'Candal', sans-serif;">Task</label><br>
        <input type="text" name="content">
        <label style="font-size: larger; font-family: 'Candal', sans-serif;">Due Date</label><br>
        <input type="date" name="due">
        
        <button type="submit"><span class="fas fa-plus"></span></button>
        </form>

<ul class="todo-list">
<% todoTasks.forEach(details => { %>
<% if (details._id == idTask) { %>
<li class="todo-list-item">
<form action="/edit/<%= details._id %>" method="POST">
<input type="text" value="<%= details.content %>" name="content">
<input type="date" value="<%= details.due %>" name="due">
<button type="submit">Confirm</button>
<a href="/" class="cancel">Cancel</a>
</form>
</li>
<% } else { %>
<li class="todo-list-item">
<div class="todo-list-item-name"><%= details.content %><br>Due:<%= details.due %></div>
<a href="/edit/<%= details._id %>" class="edit"> <span class="fas fa-edit"></span>
</a>
<a href="/remove/<%= details._id %>" class="remove"> <span class="fas fa-times"></span>
</a>
</li>
<% } %>
<% }) %>
</ul>
</div>
</div>
</body>